.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  perspective: 400px;
  overflow: hidden;

  .card {
    position: absolute;
    transition: all 0.5s ease;
    cursor: pointer;
    translate: 0 0;
    border-radius: 1rem;

    &.toLast {
      visibility: hidden;
      transition: none;
    }

    &.notfirst {
      &:hover {
        translate: 15px -15px;
      }
    }

    &.firstChild {
      cursor: grab;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
